# Node & Frontend / Mobile
**/node_modules
**/dist
**/.expo
*.tsbuildinfo
npm-debug.log

# Backend / Java
**/target
.mvn/
mvnw
mvnw.cmd
HELP.md

# Arquivos de Sistema, Git & Logs
.git
.gitignore
*.log
.env
.DS_Store